<div class="container all-groups-container">
    {{> fragments/prof_closed_group}}
    {{> fragments/prof_closed_group}}
    {{> fragments/prof_closed_group}}
    {{> fragments/prof_closed_group}}   
    {{> fragments/prof_closed_group}}
    
</div>