<!-- Posts Section -->
<div class="container all-classmates-container">
    {{> fragments/classmate}}
    {{> fragments/classmate}}
    {{> fragments/classmate}}
    {{> fragments/classmate}}
    {{> fragments/classmate}}
    {{> fragments/classmate}}
    {{> fragments/classmate}}
</div>

