<!--
Copyright (c) 2024 Sami Menik, PhD. All rights reserved.

This is a project developed by Dr. Menik to give the students an opportunity to apply database concepts learned in the class in a real world project. Permission is granted to host a running version of this software and to use images or videos of this work solely for the purpose of demonstrating the work to potential employers. Any form of reproduction, distribution, or transmission of the software's source code, in part or whole, without the prior written consent of the copyright owner, is strictly prohibited.
-->
<div class="container course">
    <div class="subtitle-bar-course">
        temp class name
    </div>
    
    <div class="spacer"></div>

    <div class="project-name">
        temp project name
    </div>

    <div class="spacer"></div>
    <div class="spacer"></div>

    <div class="project-name members-label">
        group<br>members
        <div class="all-members-container">
            <a href="/profile" class="member-container">Sample User 1</a>
            <a href="/profile" class="member-container">Sample User 2</a>
            <a href="/profile" class="member-container">Sample User 3</a>
            <a href="/profile" class="member-container">Sample User 4</a>
        </div>

    </div>
</div>

{{> fragments/error_message}}


