<!--
Copyright (c) 2024 Sami Menik, PhD. All rights reserved.

This is a project developed by Dr. Menik to give the students an opportunity to apply database concepts learned in the class in a real world project. Permission is granted to host a running version of this software and to use images or videos of this work solely for the purpose of demonstrating the work to potential employers. Any form of reproduction, distribution, or transmission of the software's source code, in part or whole, without the prior written consent of the copyright owner, is strictly prohibited.
-->
<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body class="home-page">

{{> fragments/top_bar}}

   <a href="/professor/create-a-class" class="join-class-button">create a class</a>
    <div class="spacer"></div>
    <div class="spacer"></div>

<label class="subtitle-bar profile">Course Catalog </label>

<div class="prof-container-course">
    <h2>Enrolled Courses</h2>
    <table>
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Professor ID</th>
                <th>Number of Groups</th>
                <th>Students per Group</th>
            </tr>
        </thead>
        <tbody>
            {{#enrolledCourses}}
            <tr>
                <td>{{courseId}}</td>
                <td>{{course_name}}</td>
                <td>{{profID}}</td>
                <td>{{num_groups}}</td>
                <td>{{students_per_group}}</td>
            </tr>
            {{/enrolledCourses}}
        </tbody>
    </table>
</div>
    
<div>
  {{> fragments/prof_course_container}}
</div>
<div>
  {{> fragments/prof_course_container}}
</div>
    

    {{> fragments/no_content_message}}

    {{> fragments/footer}}

</body>

</html>
