<!--
Copyright (c) 2024 Sami Menik, PhD. All rights reserved.

This is a project developed by Dr. Menik to give the students an opportunity to apply database concepts learned in the class in a real world project. Permission is granted to host a running version of this software and to use images or videos of this work solely for the purpose of demonstrating the work to potential employers. Any form of reproduction, distribution, or transmission of the software's source code, in part or whole, without the prior written consent of the copyright owner, is strictly prohibited.
-->
<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

    {{> fragments/top_bar}}

    <a href="/profile" class="join-class-button back">back</a>
    <div class="spacer"></div>
    <div class="spacer"></div>

    <div class="container classcode">
        <div class="subtitle-bar classcode">
            STRENGTHS
            <input name="strengths" class="short-input full-code" type="text" placeholder="<200 characters">
        </div>
        <div class="subtitle-bar classcode">
            WEAKNESSES
            <input name="weaknesses" class="short-input full-code" type="text" placeholder="<200 characters">
        </div>
        
        <button type="submit" class="login-action-button classcode">Update</button>
    </div>

    {{> fragments/footer}}

</body>

</html>
